{% extends 'base_abs-cd.html' %}

{% autoescape on %}
{% block title %}<title>{{ package.name }} {{ package.version }} - ArchBuildSystem CD</title>{% endblock title %}

{% block content %}
    <div id="pkgdetails" class="box">
        <h2>{{ package.name }} {{ package.version }}</h2>

        <table id="pkginfo">
            <tbody>
                <tr>
                    <th>Status:</th>
                    <td><span style="font-weight:bold;" class={% if package.build_status == 'SUCCESS' %} "success" {% elif package.build_status == 'FAILED' %} "failed" {% else %} "not_built" {% endif %}>{{ package.build_status }}</span></td>
                </tr><tr>
                    <th>Last updated:</th>
                    <td>{{ package.build_date|date:'Y-m-d H:i' }}</td>
                </tr><tr>
                    <th>Description:</th>
                    <td class="wrap">{{ package.desc }}</td>
                </tr><tr>
                    <th>Upstream:</th>
                    {% if 'ssh://' in package.repo_url %}
                    <td>Private</td>
                    {% elif 'aur.archlinux.org' in package.repo_url %}
                    <td><a href="https://aur.archlinux.org/packages/{{ package.name }}" target="_blank" rel="noopener noreferrer">AUR</a></td>
                    {% elif 'github.com' in package.repo_url %}
                    <td><a href="{{ package.repo_url }}" target="_blank" rel="noopener noreferrer">GitHub</a></td>
                    {% else %}
                    <td><a href="{{ package.repo_url }}" target="_blank" rel="noopener noreferrer">{{ package.repo_url }}</a></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    <div id="pkgdetails" class="box">
        <h3>Build Output</h3><hr>
        <div id="build_output" class="console_output">
            {% if package.build_output %}
            {{ package.build_output|linebreaksbr}}
            {% else %}
            There is no build output available.
            {% endif %}
        </div>
    </div>

{% endblock content %}
{% endautoescape %}
