{% extends 'base_abs-cd.html' %}

{% block style %}
    <style>#abs-overview > a {
        color: white!important;
    }</style>
{% endblock style %}

{% block content %}
    <div id="pkglist-results" class="box">
        <h2>Packages</h2>
        {% if package_list %}
            <table class="results">
                <thead>
                    <tr>
                        <th><a href="{{ sort_link_list.0.path }}" class="pkglist_header">Name</a></th>
                        <th>Version</th>
                        <th>Description</th>
                        <th><a href="{{ sort_link_list.2.path }}" class="pkglist_header">Last Updated</a></th>
                        <th><a href="{{ sort_link_list.1.path }}" class="pkglist_header">Build status</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in package_list %}
                    <tr>
                        <td><a href="{% url 'cd_manager:package' package.name %}">{{ package.name }}</a></td>
                        <td>{{ package.version }}</td>
                        <td class="wrap">{{ package.desc }}</td>
                        <td>{{ package.build_date|date:'Y-m-d H:i' }}</td>
                        <td>
                            <span class=
                                {% if package.build_status == 'SUCCESS' %}
                                    "success"
                                {% elif package.build_status == 'FAILED' %}
                                    "failed"
                                {% else %}
                                    "not_built"
                                {% endif %}
                            >{{ package.build_status }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        {% endif %}
    </div>
{% endblock content %}
