<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Overview - ArchBuildSystem CD</title>{% endblock title%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .success {
                color: green;
            }

            .failed {
                color: red;
                font-weight: bold;
            }

            .not_built {
                color: grey;
            }

            .console_output {
                font-size: .846em;
                padding: 1em;
            }
        </style>
        {% block style %}
        {% endblock style %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'cd_manager/archweb.0cac10eec648.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'cd_manager/favicon.29302f683ff8.ico' %}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'cd_manager/favicon.29302f683ff8.ico' %}" />
    </head>
    <body class="vsc-initialized">
        <div id="archnavbar">
            <div id="archnavbarlogo">
                <h1><a href="/" title="Return to the main page">ArchBuildSystem CD</a></h1>
            </div>
            <div id="archnavbarmenu">
                <ul id="archnavbarlist">
                    <li id="abs-overview"><a href="{% url 'cd_manager:overview' %}">Overview</a></li>
                    <li id="abs-browse"><a href="https://repo.project-ice.org/archlinux/">Browse</a></li>
                    <li id="abs-dashboard"><a href="https://repo.project-ice.org/admin/">Dashboard</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="archdev-navbar"></div>
            {% block content %}
            {% endblock content %}
            <div id="footer">
                <p>Copyleft 2022 Project ICE | Powered by <a href="https://github.com/bionade24/abs_cd">ABS-CD</a></p>

                <p>The Arch Linux name and logo are recognized <a href="https://wiki.archlinux.org/title/DeveloperWiki:TrademarkPolicy">trademarks</a>.</p>
            </div>
        </div>
    </body>
</html>
